* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sky {
  width: 100%;
  height: 340px;
  background-color: #079bb0;
}

.grass {
  width: 100%;
  height: 240px;
  background-color: #3f9b0b;
}

.road {
  width: 100%;
  height: 250px;
  background-color: dimgray;
  position: relative;
}

.lines {
  box-sizing: border-box;
  border: 5px dashed #fff;
  height: 0px;
  width: 100%;
  position: absolute;
  top: 100px;
}

.mario {
  width: 90px;
  height: 90px;
  position: absolute;
  top: -30px;
  left: 0px;
  animation-name: drive;
  animation-duration: 3s;
}

.luigi {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 120px;
  left: 0px;
  animation-name: drive2;
  animation-duration: 2s;
}

/* KEYFRAMES */
@keyframes drive {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(800px);
  }
}

@keyframes drive2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(700px);
  }
}
